*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
html,body{
    height: 100%;
    width: 100%;
    position: relative;
}

.nav{
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.2em;
    padding: 0 4vw;
    border-bottom: 2px solid #dadada;
    cursor: pointer;
}
.nav-part2{
    display: flex;
    gap: 4vw;
    align-items: center;
}

